<div class="col-12 d-flex flex-column">
  <h6>Nome completo: </h6>
  <h5>{{ user.name }}</h5>
</div>
<div class="col-12 d-flex flex-column">
  <h6>Telefone: </h6>
  <h5>{{ user.phone}}</h5>
</div>
<div class="col-12 d-flex flex-column">
  <h6>Site: </h6>
  <h5>{{ user.website }}</h5>
</div>
<div class="col-12 d-flex flex-column">
  <h6>Nome da empresa: </h6>
  <h5>{{ user.company.name }}</h5>
</div>
<div class="col-12 d-flex flex-column">
  <h6>Localização: </h6>
  <h5>{{ user.company.name }}</h5>
</div>
